 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    height: 200px;
}
button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 100px;
    height: 42px;
    transition: all 0.2s ease;
}

button:active{
    background-color: rgba(255, 255, 255, 0.263);
}


p{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    transition: all 0.2s ease;
    margin: 10px;
} */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}